.Projects {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.projects_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 2%;
}

.left_projectsBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_projectsBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.projects_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 3px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.projectsImage {
  background-image: url(../../../public/WorldSpin.gif);
  width: 415px;
  height: 320px;
  background-size: cover;
  border-radius: 25px;
  display: block;
  /* border: 3px solid var(--mainGreen); */
}

@media screen and (orientation: portrait) {
  .projects_text {
    width: 50%;
  }

  .left_projectsBar {
    width: 25%;
  }
  
  .right_projectsBar {
    width: 25%;
  }

  .projectsImage {
    width: 332px;
    height: 200px;
  }
}
