.Skills {
  width: 100vw;
  height: 80vh;
}

.skills_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 2%;
}

.left_skillsBar {
  height: 1px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_skillsBar {
  height: 1px;
  background-color: var(--mainGreen);
  width: 40%;
}

.skills_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 1px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 100%;
  /* border: 1px solid var(--mainGreen); */
}

.skillsButtonContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.skillsButton {
  border: 1px solid var(--mainGreen);
  width: 50%;
  height: 10%;
  background-color: var(--backgroundColor);
  color: var(--mainGreen);

}