@import url(https://fonts.googleapis.com/css?family=VT323);

.Skills {
  width: 100vw;
  height: 80vh;
}

.skills_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 2%;
}

.left_skillsBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_skillsBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

/* .deathStar {
  background-image: url(../../../public/brain.gif);
  width: 200px;
  height: 300px;
  background-size: cover;
  margin-left: 200px;
  margin-top: 5px;
} */

.deathStar {
  background-image: url(../../../public/brain.gif);
  width: 350px;
  height: 440px;
  background-size: cover;
  margin-left: 80px;
  margin-top: 80px;
}

.death {
  background-image: url(../../../public/skill.gif);
  width: 350px;
  height: 250px;
  background-size: cover;
  margin-left: 160px;
  margin-top: 113px;
}

.skills_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 3px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  /* border: 1px solid var(--mainGreen); */
}

.skillsButtonContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.skillsButton {
  border: 3px solid var(--mainGreen);
  width: 50%;
  height: 10%;
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
  text-shadow: 0 0 8px green;
  font-family: "VT323", cursive;
  cursor: pointer;
}

.skillsButtonActive {
  border-left: 3px solid var(--mainGreen);
  border-top: 3px solid var(--mainGreen);
  border-right: 3px solid var(--mainGreen);
  border-bottom: 3px solid var(--backgroundColor);
  width: 50%;
  height: 10%;
  background-color: var(--backgroundColor);
  color: var(--backgroundColor);
  font-family: "VT323", cursive;
}

@media screen and (orientation: portrait) {
  .skills_text {
    width: 50%;
  }

  .left_skillsBar {
    width: 25%;
  }

  .left_skillsBar div {
    display: none;
  }

  .right_skillsBar div {
    display: none;
  }

  .right_skillsBar {
    width: 25%;
  }

  .skillsContainer {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    justify-content: space-evenly;
  }

  .skillsButtonContainer {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
  }

  .skillsContent {
    height: 75%;
    width: 100%;
  }

  .skillsButton {
    width: 20%;
    height: 100%;
  }

  .skillsButtonActive {
    width: 20%;
    height: 100%;
  }
}
