.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
}

.about_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 2%;
}

.left_aboutBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_aboutBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.about_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 3px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.about_textBox {
  height: 100%;
  width: 60%;
  border: 3px solid var(--mainGreen);
  color: var(--mainGreen);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  background-color: var(--secondaryGreen);
}

.about_content {
  width: 95%;
  text-align: center;
}

.aboutCenterSection {
  width: 80%;
  height: 53%;
  display: flex;
  flex-direction: row;
}

.aboutSpacerSection {
  width: 20.5%;
  height: 80%;
}

.qouteSpacerSection {
  width: 12%;
  height: 80%;
}

.aboutQuoteSection {
  width: 38.5%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*this is the start of the texting effect*/
.aboutTextContainer {
  height: 10%;
  /*change the width depending on the quote*/
  width: 70%;
  /* border: 3px solid var(--mainGreen); */
  position: relative;
}

.aboutQuoteAnchor {
  width: 100%;
  height: 100%;
  z-index: 3;
}

@keyframes aboutTyping {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.aboutTyping {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1;
  color: var(--mainGreen);
  text-shadow: none;
}

.aboutTextLine {
  margin: 0;
}

.aboutHiders {
  margin: 0;
  position: absolute;
  top: 0;
  /*change the width depending on the quote*/
  width: 100%;
  z-index: 2;
}

.aboutHiders p {
  position: relative;
  z-index: 2;
  clear: both;
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width: 0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: var(--backgroundColor); /* same as page background */
  animation: aboutTyping 2s steps(30, end);
  animation-fill-mode: both; 
  /* load first keyframe on page load, leave on last frame at end */
}

.aboutHiders p:nth-child(2) {
  animation-delay: 2s;
}
.aboutHiders p:nth-child(3) {
  animation-delay: 4s;
}
.aboutHiders p:nth-child(4) {
  animation-delay: 6s;
}
.aboutHiders p:nth-child(5) {
  animation-delay: 8s;
}

@media screen and (orientation: portrait) {
  .about_text {
    width: 50%;
  }

  .left_aboutBar {
    width: 25%;
  }

  .left_aboutBar p {
    display: none;
  }

  .right_aboutBar {
    width: 25%;
  }

  .about_textBox {
    height: 80%;
    width: 95%;
  }

  .aboutCenterSection {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .aboutSpacerSection {
    width: 0;
    height: 0;
  }

  .qouteSpacerSection {
    width: 0;
    height: 0;
  }
  
  .aboutQuoteSection {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutTextContainer {
    height: 100%;
    width: 70%;
    position: relative;
  }

  .aboutTyping {
    height: 90%;
    width: 100%;
    text-align: center;
  }

  .aboutTextLine {
    text-align: center;
  }

  .aboutHiders {
    /*change the width depending on the quote*/
    width: 100%;
  }
}

