.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
}

.about_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: -10%;
}

.left_aboutBar {
  height: 1px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_aboutBar {
  height: 1px;
  background-color: var(--mainGreen);
  width: 40%;
}

.about_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 1px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.about_textBox {
  height: 30%;
  width: 35%;
  border: 1px solid var(--mainGreen);
  color: var(--mainGreen);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.about_content {
  width: 80%;
  text-align: center;
}

.aboutImage {
  width: 200px;
  height: 200px;
  background-image: url(../../../public/PlanesGreen.jpg);
  background-size: cover;
  border-radius: 25px;
}
