.About {
  width: 100vw;
  height: 80vh;
}

.about_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 3%;
}

.left_aboutBar {
  height: 1px;
  background-color: #00ed34;
  width: 40%;
}

.right_aboutBar {
  height: 1px;
  background-color: #00ed34;
  width: 40%;
}

.about_text {
  display: flex;
  width: 20%;
  height: 100%;
  border: 1px solid #00ed34;
  justify-content: center;
  align-items: center;
}

