.Contact {
  width: 100vw;
  height: 80vh;
}

.contact_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 2%;
}

.left_contactBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_contactBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.contact_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 3px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40%;
  justify-content: space-evenly;
  align-items: center;
}

.form-control {
  color: var(--mainGreen);
  background-color: var(--secondaryGreen);
  border-radius: 25px;
  text-align: center;
  width: 100%;
  border: 3px solid var(--mainGreen);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--mainGreen);
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--mainGreen);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--mainGreen);
}

.submit-button {
  color: var(--mainGreen);
  background-color: var(--secondaryGreen);
  border-radius: 25px;
  text-align: center;
  width: 50%;
  border: 3px solid var(--mainGreen);
  
}

.contact-logo-link {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  background-color: var(--mainGreen);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 40%;
  align-items: center;
  justify-content: space-evenly;
}

.linkedin {
  background: url("https://cdn.worldvectorlogo.com/logos/linkedin-icon-1.svg");
  height: 55%;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}
.github {
  background: url("https://cdn.worldvectorlogo.com/logos/github-icon.svg");
  height: 75%;
  width: 75%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (orientation: portrait) {
  .contact_text {
    width: 50%;
  }

  .left_contactBar {
    width: 25%;
  }
  
  .right_contactBar {
    width: 25%;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
  }

  .contact-logo-link {
    height: 100px;
    width: 100px;
    border-radius: 200px;
    background-color: var(--mainGreen);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
  }

  .text_area {
    height: 35%;
  }

}