.Navbar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  justify-content: space-evenly;
}

.inbetween_box {
  border-bottom: 1px solid var(--mainGreen);
  height: 50%;
  align-self: end;
  width: 9.1vw;
}

.selector_tab {
  border-left: 1px solid var(--mainGreen);
  border-top: 1px solid var(--mainGreen);
  border-right: 1px solid var(--mainGreen);
  height: 50%;
  align-self: end;
  width: 9.1vw;
  background-color: var(--backgroundColor);
}

.intro_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 1px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
}

.about_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 1px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
}

.projects_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 1px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
}

.skills_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 1px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
}

.contact_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 1px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
}
