@import url(https://fonts.googleapis.com/css?family=VT323);

.Navbar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  justify-content: space-evenly;
}

.inbetween_box {
  border-bottom: 3px solid var(--mainGreen);
  height: 50%;
  align-self: end;
  width: 9.1vw;
}

.selector_tab {
  border-left: 3px solid var(--mainGreen);
  border-top: 3px solid var(--mainGreen);
  border-right: 3px solid var(--mainGreen);
  border-bottom: 3px solid var(--backgroundColor);
  height: 50%;
  align-self: end;
  width: 9.1vw;
  background-color: var(--backgroundColor);
  color: transparent;
}


.intro_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 3px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
  padding: 1px 1px 1px 1px;
  text-shadow: 0 0 8px green;
  font-family: 'VT323', cursive;
}

.about_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 3px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
  padding: 1px 1px 1px 1px;
  text-shadow: 0 0 8px green;
  font-family: 'VT323', cursive;
}

.projects_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 3px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
  padding: 1px 1px 1px 1px;
  text-shadow: 0 0 8px green;
  font-family: 'VT323', cursive;
}

.skills_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 3px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
  padding: 1px 1px 1px 1px;
  text-shadow: 0 0 8px green;
  font-family: 'VT323', cursive;
}

.contact_tab {
  height: 50%;
  align-self: end;
  width: 9.1vw;
  border: 3px solid var(--mainGreen);
  background-color: var(--backgroundColor);
  color: var(--mainGreen);
  padding: 1px 1px 1px 1px;
  text-shadow: 0 0 8px green;
  font-family: 'VT323', cursive;
}


@media screen and (orientation: portrait) {
  .inbetween_box {
    height: 50%;
    width: 5vw;
  }

  .selector_tab {
    height: 50%;
    width: 14vw;
  }
  
  .intro_tab {
    height: 50%;
    width: 14vw;
  }
  
  .about_tab {
    height: 50%;
    width: 14vw;
  }
  
  .projects_tab {
    height: 50%;
    width: 14vw;
  }
  
  .skills_tab {
    height: 50%;
    width: 14vw;
  }
  
  .contact_tab {
    height: 50%;
    width: 14vw;
  }
}

