.Intro {
  width: 100vw;
  height: 80vh;
}

.intro_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 3%;
}

.left_introBar {
  height: 1px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_introBar {
  height: 1px;
  background-color: var(--mainGreen);
  width: 40%;
}

.intro_text {
  display: flex;
  width: 20%;
  height: 100%;
  border: 1px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color:var(--mainGreen);
  font-weight: bold;
}
