.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
}

.intro_box {
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  align-items: center;
  padding-top: 2%;
}

.left_introBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.right_introBar {
  height: 3px;
  background-color: var(--mainGreen);
  width: 40%;
}

.intro_text {
  display: flex;
  width: 20%;
  height: 50%;
  border: 3px solid var(--mainGreen);
  justify-content: center;
  align-items: center;
  color: var(--mainGreen);
  font-weight: bold;
}

.introCenterSection {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
}

.spacerSection {
  width: 37.5%;
  height: 100%;
  /* border: 3px solid var(--mainGreen); */
}

.quoteSection {
  width: 37.5%;
  height: 100%;
  /* border: 3px solid var(--mainGreen); */
  display: flex;
  align-items: center;
  justify-content: center;
}
/*this is the start of the texting effect*/
.textContainer {
  height: 30%;
  /*change the width depending on the quote*/
  width: 45%;
  /* border: 3px solid var(--mainGreen); */
  position: relative;
}

@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1;
  color: var(--mainGreen);
  text-shadow: none;
}

.textLine {
  margin: 0;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  /*change the width depending on the quote*/
  width: 100%;
  z-index: 2;
}

.hiders p {
  position: relative;
  clear: both;
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width: 0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: var(--backgroundColor); /* same as page background */
  animation: typing 2s steps(30, end);
  animation-fill-mode: both; /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}

/*this is the end of the texting effect*/

.intro_textBox {
  height: 80%;
  width: 25%;
  border: 3px solid var(--mainGreen);
  color: var(--mainGreen);
  text-align: center;
  border-radius: 25px;
  background-color: var(--secondaryGreen);
}

.vaultLogo {
  background-image: url(../../../public/empire.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 35.5%;
  background-position: center;
}

@media screen and (orientation: portrait) {
  .intro_text {
    width: 50%;
  }

  .left_introBar {
    width: 25%;
  }

  .left_introBar p {
    display: none;
  }

  .right_introBar {
    width: 25%;
  }

  .intro_textBox {
    height: 60%;
    width: 100%;
    border: 3px solid var(--mainGreen);
    color: var(--mainGreen);
    text-align: center;
    border-radius: 25px;
    background-color: var(--secondaryGreen);
    margin-bottom: 10%;
  }

  h1 {
    font-size: medium;
  }

  p {
    font-size: small;
  }

  .vaultLogo {
    background-image: url(../../../public/Vault-Tec_Logo.png);
    background-repeat: no-repeat;
    width: 52%;
    height: 20%;
  }

  .introCenterSection {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .spacerSection {
    width: 0;
    height: 0;
  }

  .quoteSection {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textContainer {
    height: 100%;
    width: 80%;
    position: relative;
  }

  .typing {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .textLine {
    text-align: center;
  }

  .hiders {
    /*change the width depending on the quote*/
    width: 100%;
  }
}
