.Footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border-top: 3px solid var(--mainGreen);
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryGreen);
  color: var(--mainGreen);
  font-size: 22px;
}

.Year {
  padding-left: 10px;
  width: 40%;
}

.Copyright {
  display: flex;
  padding-right: 10px;
  width: 40%;
  justify-content: flex-end;
}

.Level_container {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 30%;
  align-items: center;
}

.Level {
  flex-direction: row;
  display: flex;
  width: 65%;
  height: 50%;
  border: 1px solid var(--mainGreen);
  margin-left: 10px;
  margin-top: 0.7%;
}


.XP {
  width: 70%;
  background-color: var(--mainGreen);
}

.XP_remaining {
  width: 30%;
  background-color: var(--backgroundColor);
}

@media screen and (orientation: portrait) {
  .Footer {
    font-size: small;
  }

  .Year {
    width: 20%;
  }

  .Level_container {
    width: 50%;
  }

  .Level {
    width: 55%;
    height: 15%;
  }
}
