
.Container {
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../public/green_gif.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* ../../../public/green_gif.gif */


.TopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    align-items: center;
}

.MidSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
    padding-top: 10%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
}

.BottomSection {
    align-items: center;
    display: flex;
    flex-direction: row;
    /* padding-bottom: 31%;  */
    padding-top: 20%;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    
}

.logo {
    color: var(--mainGreen);
    background-color: transparent;
    height: 50px;
    width: 50px;
}

/* .bottomLogo {
    color: var(--mainGreen);
    background-color: var(--secondaryGreen);
    height: 20%;
    width: auto;
} */

@media screen and (orientation: portrait) {
    .Container {
        width: 260px;
        height: 300px;
    }

    .logo {
        height: 35px;
        width: 35px;
    }

    .BottomSection {
        /* align-items: center; */
        display: flex;
        flex-direction: row;
        padding-bottom: 31%; 
        padding-top: 24%;
        justify-content: space-between;
        height: 15%;
        width: 100%;
    }


    .TopSection {
        height: 15%;
    }
}