.Container {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pipMan {
    background-image: url(../../../public/PipMan.png);
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.TopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}

.MidSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.BottomSection {
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    padding-bottom: 31%; 
    padding-top: 24%;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

.logo {
    color: var(--mainGreen);
    background-color: var(--secondaryGreen);
    height: 50px;
    width: 50px;
}

.bottomLogo {
    color: var(--mainGreen);
    background-color: var(--secondaryGreen);
    height: 20%;
    width: auto;
}

@media screen and (orientation: portrait) {
    .Container {
        width: 260px;
        height: 300px;
    }

    .logo {
        height: 35px;
        width: 35px;
    }

    .BottomSection {
        /* align-items: center; */
        display: flex;
        flex-direction: row;
        padding-bottom: 31%; 
        padding-top: 24%;
        justify-content: space-between;
        height: 15%;
        width: 100%;
    }


    .TopSection {
        height: 15%;
    }
}