.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mainGreen);
  width: 100vw;
  height: 29vh;
}

.Slider {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SliderContent {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row;
}

.LeftSlide {
  height: 102%;
  width: 30%;
  border: 2px solid var(--mainGreen);
  align-self: center;
  z-index: 0;
}

.CenterContainer {
  height: 102%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 0;
}

.CenterAnchor {
  height: 100%;
  width: 100%;
}

.CenterImage {
  height: 100%;
  width: 100%;
  border: 2px solid var(--mainGreen);
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--mainGreen); }
}

.RightSlide {
  height: 102%;
  width: 30%;
  border: 2px solid var(--mainGreen);
  align-self: center;
  z-index: 0;
}

.sliderInbetween {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderInbetweenInner {
  height: 100%;
  width: 5%;
}

.arrow {
  color: var(--mainGreen);
  font-size: 50px;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .sliderContainer {
    width: 100vw;
    height: 15vh;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .sliderInbetween {
    width: 6%;
    height: 100%;
  }

  .sliderInbetweenInner {
    height: 100%;
    width: 10%;
  }

  .SliderContent {
    height: 100%;
    width: 88%;
  }

  .RightSlide {
    height: 102%;
    width: 26.6%;
  }

  .LeftSlide {
    height: 102%;
    width: 26.6%;
  }

  .CenterContainer {
    height: 102%;
    width: 26.6%;
  }
}
